################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Haedong/Haedong/logs
/Haedong/Haedong/item/__pycache__
/Haedong.zip
/Haedong/Haedong/module/__pycache__
/Haedong/Haedong/module/parabolic_sar.zip
/Haedong/Haedong/module/parabolic_sar.py
